$top-bar-height: 22px // web: 0px

$server-list-width: 72px
$sidebar-width: 240px
$ping-color: #ed4245

    
body.light
    // --main-col: 
    --main-bg: #e3e5e8
    // --primary-col: 
    --primary-bg: #ffffff
    // --secondary-col:
    --secondary-bg: #f2f3f5
    // --thirtiary-col:
    --thirtiary-bg: #ebedef

body.dark
    --main-col:      #b9bbbe
    --main-bg:       #202225
    --primary-col:   #dcddde
    --primary-bg:    #36393f
    --secondary-col: #8e9297
    --secondary-bg:  #2f3136
    --thirtiary-col: #8e9297
    --thirtiary-bg:  #292b2f

    --hover-col: var(--primary-col)
    --hover-bg: #4f545c29
    --active-col: #fff
    --active-bg: #4f545c3d
    --second-active-bg: #4f545c52
    
    --scrollbar-col: var(--main-bg)
    // TODO: change
    --scrollbar-bg: #2f3136

    --logo-col:        #72767d
    --logo-darker-col: #72767d4d
    --divider-col:     #ffffff0f


::-webkit-scrollbar
    width: 16px
    height: 16px
::-webkit-scrollbar-track
    background-color: #2e3338 // TODO:
::-webkit-scrollbar-thumb
    min-height:40px
    background-color: var(--scrollbar-col)
::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb
    background-clip: padding-box
    border: 4px solid #0000
    border-radius: 8px
::-webkit-scrollbar-corner
    background-color: #0000



.thin-scroll
    &::-webkit-scrollbar
        width: 8px
        height: 8px
    &::-webkit-scrollbar-track
        border-color: #0000
        background-color: #0000
        border: 2px solid #0000
    &::-webkit-scrollbar-thumb
        min-height: 40px
        background-color: var(--scrollbar-col)
        background-clip: padding-box
        border: 2px solid #0000
        border-radius: 4px
    &::-webkit-scrollbar-corner
        background-color: #0000