$top-bar-height: 22px // web: 0px

$server-list-width: 72px
$sidebar-width: 240px
$ping-color: #ed4245

    
body.light
    // --main-col: 
    --main-bg: #e3e5e8
    // --primary-col: 
    --primary-bg: #ffffff
    // --secondary-col:
    --secondary-bg: #f2f3f5
    // --tertiary-col:
    --tertiary-bg: #ebedef

body.dark
    --main-col:      #b9bbbe
    --main-bg:       #202225
    --primary-col:   #dcddde
    --primary-bg:    #36393f
    --secondary-col: #8e9297
    --secondary-bg:  #2f3136
    --tertiary-col:  #8e9297
    --tertiary-bg:   #292b2f

    // --header-col: #

    --hover-col:          var(--primary-col)
    --hover-bg:         #4f545c29
    --active-col:       #fff
    --active-bg:        #4f545c3d
    --second-active-bg: #4f545c52
    --link-col:         #00aff4
    --ping-col:         #ed4245
    --warning-col:      #faa81a
    
    --scrollbar-col:  var(--main-bg)
    // TODO: change
    --scrollbar-bg: #2e3338

    --accent-col:      #5865f2
    --logo-col:        #72767d
    --logo-darker-col: #72767d4d
    --divider-col:     #ffffff0f
    --banner-bg:       #18191c

    --channel-col: #8e9297