$top-bar-height: 22px
    
=abs-pos($top, $left, $bottom:auto, $right:auto)
    position: absolute
    top: $top
    bottom: $bottom
    left: $left
    right: $right

body
    margin: 0
    width: 100vw
    height: calc(100vh - #{$top-bar-height})
    
body.light
    color: #4f5660 //
    background-color: #e3e5e8 //
    
body.dark
    color: #b9bbbe //
    background-color: #202225 //


#top-bar
    width: 100%
    height: #{$top-bar-height}
    background: #d9ff0070

    *
        max-height: #{$top-bar-height}

    
#guilds
    width: 72px //
    height: 100% //
    position: relative
    overflow: hidden
    // overflow-y: scroll

    #home-btn
        margin-top: 4px // web is 12px
        background: #0000ff83

    li, .item
        width: 72px //
        height: 48px //
        margin-bottom: 8px //
        background-color: #00ff0073

        .img-wrapper
            width: 48px//
            height: 48px//
            overflow: hidden

            &::before // TODO: fix
                content: ''
                background-color: #fff
                +abs-pos(auto, 0, auto, auto)
                width: 8px
                height: 8px
                border-radius: 0 4px 4px 0

    hr, .divider
        margin: 0 auto 8px auto
        border: none
        width: 32px //
        height: 2px
        border-radius: 1px
        background-color: #ffffff0f

    &::before, &::after // TODO: fix text not aligning
        +abs-pos(0, 0, auto, 0)
        width: 3.5rem //
        height: 1.5rem //
        content: 'NEW'
        opacity: 0.9
        background: #ed4245 // hsl(359,calc(1*82.6%),59.4%)
        color: #fff
        font: 0.75rem sans-serif // TODO: font-family
        text-align: center
        // ! TODO: Vertically center 
        font-weight: 600
        cursor: pointer

        margin: 0.5rem
        border-radius: 50px

        &:hover
            opacity: 1
            background: yellow
    &::after
        top: auto
        bottom: 0