=font($size, $font-family, $weight: inherit, $line-height: inherit)
    font-family: $font-family, "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: $size
    font-weight: $weight
    line-height: $line-height
    
=abs-pos($top, $right, $bottom, $left)
    position: absolute
    top: $top
    bottom: $bottom
    left: $left
    right: $right

=ellipsis()
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

body
    margin: 0
    width: 100vw
    height: 100vh


.no-margin
    margin: 0
.no-margin-top
    margin-top: 0
.no-margin-right
    margin-right: 0
.no-margin-bottom
    margin-bottom: 0
.no-margin-left
    margin-left: 0

.no-padding
    padding: 0
.no-padding-top
    padding-top: 0
.no-padding-right
    padding-right: 0
.no-padding-bottom
    padding-bottom: 0
.no-padding-left
    padding-left: 0

.no-border
    border: none
.no-border-top
    border-top: none
.no-border-right
    border-right: none
.no-border-bottom
    border-bottom: none
.no-border-left
    border-left: none