body {
  margin: 0;
  width: 100vw;
}

body.light {
  color: #4f5660;
  background-color: #e3e5e8;
}

body.dark {
  color: #b9bbbe;
  background-color: #202225;
}

body.dark #guilds .item.no-img > svg .wrapper, body.dark #guilds #home-btn > svg .wrapper {
  color: #dcddde;
  background-color: #36393f;
}

body.dark #guilds .item.no-img:hover > svg .wrapper, body.dark #guilds #home-btn:hover > svg .wrapper {
  color: #fff;
  background-color: #5865f2;
}

body.dark #guilds .item.no-img:active > svg .wrapper, body.dark #guilds .item.no-img.active > svg .wrapper, body.dark #guilds #home-btn:active > svg .wrapper, body.dark #guilds #home-btn.active > svg .wrapper {
  color: #fff;
  background-color: #5865f2;
}

body.dark #guilds .guild-actions {
  background-color: #36393f;
}

body.dark #sidebar {
  background-color: #2f3136;
}

body.dark #sidebar .head {
  background-color: #0000;
}

body.dark #sidebar .channels {
  color: #8e9297;
  background-color: #0000;
}

body.dark #sidebar .channels .scroller {
  scrollbar-color: transparent transparent;
}

body.dark #sidebar .channels .scroller:hover {
  scrollbar-color: #202225 transparent;
}

body.dark #sidebar .channels h2.category {
  color: inherit;
  background-color: #0000;
}

body.dark #sidebar .channels h2.category:hover {
  color: #dcddde;
  background-color: #0000;
}

body.dark #sidebar .channels h2.category:active {
  color: #dcddde;
  background-color: #0000;
}

body.dark #sidebar .channels .dm-channel, body.dark #sidebar .channels .channel {
  color: inherit;
  background-color: #0000;
}

body.dark #sidebar .channels .dm-channel:hover, body.dark #sidebar .channels .channel:hover {
  color: #dcddde;
  background-color: #4f545c29;
}

body.dark #sidebar .channels .dm-channel:active, body.dark #sidebar .channels .dm-channel.active, body.dark #sidebar .channels .channel:active, body.dark #sidebar .channels .channel.active {
  color: #fff;
  background-color: #4f545c52;
}

body.dark #sidebar .channels .dm-channel.muted, body.dark #sidebar .channels .channel.muted {
  color: #4f545c;
  background-color: #0000;
}

body.dark #sidebar .channels .dm-channel.muted:hover, body.dark #sidebar .channels .channel.muted:hover {
  color: #dcddde;
  background-color: #4f545c29;
}

body.dark #sidebar .channels .dm-channel.muted:active, body.dark #sidebar .channels .dm-channel.muted.active, body.dark #sidebar .channels .channel.muted:active, body.dark #sidebar .channels .channel.muted.active {
  color: #fff;
  background-color: #4f545c52;
}

body.dark #sidebar .channels .dm-channel.muted .avatar, body.dark #sidebar .channels .channel.muted .avatar {
  opacity: 0.3;
}

body.dark #sidebar .channels .dm-channel .avatar, body.dark #sidebar .channels .channel .avatar {
  color: inherit;
  background-color: #0000;
}

body.dark #sidebar .channels button {
  color: #8e9297;
  background-color: #0000;
}

body.dark #sidebar .channels button:hover {
  color: #dcddde;
  background-color: #0000;
}

body.dark #sidebar .channels button:active {
  color: #dcddde;
  background-color: #0000;
}

body.dark #sidebar .media-control {
  color: #dcddde;
  background-color: #292b2f;
}

body.dark #sidebar .media-control .vc-control {
  color: #fff;
  background-color: #0000;
  border-bottom-color: #ffffff0f;
}

body.dark #sidebar .media-control .vc-control .connection {
  color: inherit;
  background-color: #0000;
}

body.dark #sidebar .media-control .vc-control .connection .subtitle {
  color: #b9bbbe;
  background-color: #0000;
}

body.dark #sidebar .media-control .vc-control .connection button.disconnect {
  color: #b9bbbe;
  background-color: #0000;
}

body.dark #sidebar .media-control .vc-control .connection button.disconnect:hover {
  color: #dcddde;
  background-color: #4f545c52;
}

body.dark #sidebar .media-control .vc-control .connection button.disconnect:active {
  color: #dcddde;
  background-color: #4f545c52;
}

body.dark #sidebar .media-control .vc-control .actions button {
  color: #fff;
  background-color: #36393f;
}

body.dark #sidebar .media-control .vc-control .actions button:hover {
  color: #fff;
  background-color: #2f3136;
}

body.dark #sidebar .media-control .vc-control .actions button:active {
  color: #fff;
  background-color: #2f3136;
}

body.dark #sidebar .media-control .content .title {
  color: #fff;
}

body.dark #sidebar .media-control .content .subtitle {
  color: #b9bbbe;
}

body.dark #sidebar .media-control .content button {
  color: #b9bbbe;
  background-color: #0000;
}

body.dark #sidebar .media-control .content button:hover {
  color: #dcddde;
  background-color: #4f545c52;
}

body.dark #sidebar .media-control .content button:active {
  color: #dcddde;
  background-color: #4f545c52;
}

body.dark .search-bar {
  color: #72767d;
  background-color: #202225;
}

body.dark .search-bar:hover {
  color: #72767d;
  background-color: #202225;
}

body.dark .search-bar:active {
  color: #72767d;
  background-color: #202225;
}

body.dark #main-content {
  background-color: #36393f;
}

body.dark #main-content .head {
  background-color: #00000000;
}

.badge {
  text-align: center;
  font-size: 12px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  box-sizing: border-box;
  line-height: 16px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #ed4245;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.avatar {
  width: 32px;
  height: 32px;
  aspect-ratio: 1;
  position: relative;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar * {
  max-width: 100%;
  max-height: 100%;
}

#top-bar {
  width: 100%;
  height: 22px;
}

#top-bar * {
  max-height: 22px;
}

#main-wrapper {
  height: calc(100vh - 22px);
  display: flex;
}

#guilds {
  width: 72px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#guilds > .scroller {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

#guilds #home-btn {
  margin-top: 4px;
}

#guilds #home-btn > svg svg {
  padding-top: 14px;
}

#guilds li, #guilds .item {
  width: 48px;
  height: 48px;
  aspect-ratio: 1;
  position: relative;
  margin: 0 auto 8px calc((72px - 48px) / 2);
  list-style-type: none;
  cursor: pointer;
  border-radius: 50%;
  transition: border-radius 0.2s ease-out;
}

#guilds li > svg, #guilds .item > svg {
  width: 48px;
  aspect-ratio: 1;
  border-radius: inherit;
  overflow: hidden;
  transition: background-color 0.15s ease-out, color 0.15s ease-out;
}

#guilds li > svg .wrapper, #guilds .item > svg .wrapper {
  width: 100%;
  height: 100%;
}

#guilds li > svg svg, #guilds .item > svg svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#guilds li::before, #guilds .item::before {
  --left: calc(-1 * (72px - 48px) / 2);
  content: '';
  background-color: #fff;
  position: absolute;
  top: 50%;
  bottom: auto;
  left: calc(var(--left) - 8px);
  right: auto;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 0 4px 4px 0;
  transition: height 0.2s, left 0.1s;
}

#guilds li:hover, #guilds .item:hover {
  border-radius: 17.5px;
}

#guilds li:hover::before, #guilds .item:hover::before {
  height: 20px;
  left: calc(var(--left) - 4px);
}

#guilds li.unreads::before, #guilds .item.unreads::before {
  left: calc(var(--left) - 4px);
}

#guilds li:active, #guilds li.active, #guilds .item:active, #guilds .item.active {
  border-radius: 17.5px;
}

#guilds li:active::before, #guilds li.active::before, #guilds .item:active::before, #guilds .item.active::before {
  height: 40px;
  left: calc(var(--left) - 4px);
}

#guilds li.guild-actions, #guilds .item.guild-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3ba55d;
}

#guilds li.guild-actions:hover, #guilds li.guild-actions:active, #guilds li.guild-actions.active, #guilds .item.guild-actions:hover, #guilds .item.guild-actions:active, #guilds .item.guild-actions.active {
  color: #fff;
  background-color: #3ba55d;
}

#guilds li.no-img .wrapper, #guilds .item.no-img .wrapper {
  font: 12px Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2em;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

#guilds li .badge, #guilds .item .badge {
  position: absolute;
  top: auto;
  bottom: 50%;
  left: auto;
  right: 0;
  pointer-events: none;
}

#guilds li .badge.upper, #guilds .item .badge.upper {
  top: 0;
  bottom: auto;
  background: #3ba55d;
}

#guilds li .badge.lower, #guilds .item .badge.lower {
  top: auto;
  bottom: 0;
  background: #ed4245;
}

#guilds hr, #guilds .divider {
  margin: 0 auto 8px auto;
  border: none;
  width: 32px;
  height: 2px;
  border-radius: 1px;
  background-color: #ffffff0f;
}

#guilds::before, #guilds::after {
  position: absolute;
  top: -32px;
  bottom: auto;
  left: 0;
  right: 0;
  max-height: 24px;
  padding: 0.281rem 0 0.281rem 0;
  margin: 8px;
  border-radius: 50px;
  z-index: 2;
  content: 'NEW';
  opacity: 0.9;
  background: #ed4245;
  color: #fff;
  font: 0.75rem Ginto, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  --scale: 1;
  transition: transform 0.05s, top 0.05s, bottom 0.05s;
  transform: scale(var(--scale, 1));
  transform-origin: top center;
}

#guilds::before:hover, #guilds::after:hover {
  opacity: 1;
  background: yellow;
}

#guilds::after {
  top: auto;
  bottom: -32px;
  transform-origin: bottom center;
}

#guilds.new-above::before {
  --scale: 1;
  top: 0;
}

#guilds.new-below::after {
  --scale: 1;
  bottom: 0;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#app-base {
  height: calc(100vh - 22px);
  width: calc(100vw - 72px);
  display: flex;
}

#app-base::before {
  content: '';
  height: 1px;
  display: block;
  position: absolute;
  top: calc(48px + 22px - 1px);
  bottom: auto;
  left: 72px;
  right: 0;
  pointer-events: none;
  box-shadow: 0 1px 0 #04040533, 0 1.5px 0 #0606070d, 0 2px 0 #0404050d;
}

#app-base #sidebar {
  width: 240px;
  height: 100%;
  border-radius: 8px 0 0 0;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

#app-base #sidebar .head {
  width: 100%;
  height: 48px;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
}

#app-base #sidebar .head #search-dms {
  width: 220px;
  height: 28px;
  border: none;
  border-radius: 4px;
  padding: 1px 6px;
  font: 14px Whitney, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  cursor: pointer;
}

#app-base #sidebar .channels {
  width: 100%;
  flex: 1 1 auto;
  position: relative;
  overflow-y: hidden;
  user-select: none;
}

#app-base #sidebar .channels .scroller {
  height: 100%;
  padding-top: 8px;
  padding-right: 8px;
  position: relative;
  overflow-x: visible;
  overflow-y: auto;
  scrollbar-width: thin;
  transition: scrollbar-color 0.15s;
}

#app-base #sidebar .channels .scroller:hover {
  scrollbar-color: #202225 transparent;
}

#app-base #sidebar .channels .scroller .category {
  height: 18px;
  width: calc(240px - 8px * 2 - 18px);
  margin: 18px 8px 4px 18px;
  border-radius: 4px;
  box-sizing: border-box;
  font: 12px Ginto, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
}

#app-base #sidebar .channels .scroller .category span {
  flex: 1;
}

#app-base #sidebar .channels .scroller .category button.add {
  width: 16px;
  height: 16px;
  margin-right: 2px;
}

#app-base #sidebar .channels .scroller .dm-channel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: calc(240px - 8px * 2 - 16px);
  height: 42px;
  margin: 1px 0 1px 8px;
  padding: 0 8px;
  border-radius: 4px;
  text-decoration: none;
  white-space: nowrap;
}

#app-base #sidebar .channels .scroller .dm-channel .badge {
  margin-left: 8px;
  flex: 0 0 auto;
}

#app-base #sidebar .channels .scroller .dm-channel .title {
  display: block;
  margin: 0;
  font: 16px Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 auto;
}

#app-base #sidebar .channels .scroller .dm-channel .subtitle {
  display: block;
  margin: -2px 0 0 0;
  font: 12px Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#app-base #sidebar .channels .scroller .dm-channel .avatar {
  margin-right: 12px;
  flex: 0 0 auto;
}

#app-base #sidebar .channels .scroller .dm-channel .avatar.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#app-base #sidebar .channels .scroller .dm-channel .avatar.wrapper svg {
  width: 24px;
  height: 24px;
}

#app-base #sidebar .channels .scroller .dm-channel .content {
  flex: 1 1 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#app-base #sidebar .channels .scroller .dm-channel:hover .close {
  display: block;
}

#app-base #sidebar .channels .scroller .dm-channel button.close {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  display: none;
  border-radius: 4px;
  margin-left: 8px;
  flex: 0 0 auto;
}

#app-base #sidebar .channels .scroller .dm-channel button.close svg {
  width: 16px;
  height: 16px;
  margin: 2px;
}

#app-base #sidebar .channels .scroller .dm-channel button.close:hover {
  opacity: 1;
}

#app-base #sidebar .media-control {
  width: 100%;
  flex: 0 0 auto;
  z-index: 1;
}

#app-base #sidebar .media-control.in-vc .vc-control {
  display: block;
}

#app-base #sidebar .media-control .vc-control {
  position: relative;
  display: none;
  padding: 8px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

#app-base #sidebar .media-control .vc-control .connection {
  margin: 0 0 4px 0;
  display: flex;
}

#app-base #sidebar .media-control .vc-control .connection .text {
  flex: 1;
  max-width: 100%;
}

#app-base #sidebar .media-control .vc-control .connection .text .status {
  display: flex;
  align-items: center;
  margin: 0 0 2px 0;
  font: 14px Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#app-base #sidebar .media-control .vc-control .connection .text .status.connected {
  color: #4fdc7c;
}

#app-base #sidebar .media-control .vc-control .connection .text .status.disconnected {
  color: #ed4245;
}

#app-base #sidebar .media-control .vc-control .connection .text .status svg {
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  flex: 0 0 auto;
}

#app-base #sidebar .media-control .vc-control .connection .text .subtitle {
  max-width: 100%;
  margin: 0;
  display: block;
  font: 12px Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 13px;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

#app-base #sidebar .media-control .vc-control .connection button.disconnect {
  width: 32px;
  height: 32px;
  display: relative;
  flex: 0 0 auto;
  margin: 0 0 0 10px;
}

#app-base #sidebar .media-control .vc-control .connection button.disconnect svg {
  width: 20px;
  height: 20px;
}

#app-base #sidebar .media-control .vc-control .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0 0 0;
}

#app-base #sidebar .media-control .vc-control .actions button {
  width: auto;
  height: 32px;
  min-width: auto;
  padding: 2px 16px;
  border-radius: 3px;
  margin: 0 4px;
  position: relative;
  flex: 1 1 auto;
  font: 14px Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 16px;
  transition: background-color .17s ease, color .17s ease;
}

#app-base #sidebar .media-control .vc-control .actions button:first-child {
  margin-left: 0;
}

#app-base #sidebar .media-control .vc-control .actions button:last-child {
  margin-right: 0;
}

#app-base #sidebar .media-control .content {
  height: 52px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  margin: 0 0 1px 0;
}

#app-base #sidebar .media-control .content .avatar {
  margin: 0 8px 0 0;
}

#app-base #sidebar .media-control .content .name {
  user-select: text;
  cursor: pointer;
  margin-right: 0 4px 0 0;
  flex-grow: 1;
}

#app-base #sidebar .media-control .content .name .title {
  display: block;
  margin: 0;
  font: 14px Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#app-base #sidebar .media-control .content .name .subtitle {
  display: block;
  margin: 0;
  font: 12px Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#app-base #sidebar .media-control .content .name .subtitle span {
  display: block;
}

#app-base #sidebar .media-control .content .control {
  flex: 0 1 auto;
  height: 32px;
  font-size: 0;
}

#app-base #sidebar .media-control .content .control button {
  width: 32px;
  height: 32px;
  aspect-ratio: 1;
  position: relative;
  border-radius: 4px;
}

#app-base #sidebar .media-control .content .control button svg {
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
}

#app-base #main-content {
  width: calc(100% - 240px);
  height: 100%;
}

#app-base #main-content .head {
  width: 100%;
  height: 48px;
}

#app-base #main-content .chat {
  width: 100%;
  height: calc(100% - 48px);
}
