/*
 * TODO: PLAN: the 'rows' div holds all theme-items
 * The side margins of each item will be around 1rem and will stay static
 * Each item will have a bottom margin equal to the padding/margin of the parent
 * The width of each item will be dynamic and will have a max width of 23.5rem

 * Flex wrap will be applied, where each item will wrap one by one or by pairs as the screen gets smaller/larger
 */
#theme-list {
  padding: 2.5rem 2rem 2.5rem 2rem;
}

#theme-list > .rows {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

#theme-list .theme-item {
  max-width: 23.5rem;
  border-radius: 10px;
  margin: 0 1.15rem 2.5rem 1.15rem;
  text-align: center;
}

#theme-list .theme-item:hover {
  background: #000;
}

#theme-list .theme-item > img.thumbnail {
  width: 23.5rem;
  border-radius: inherit;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
