body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.margin-bottom-xl {
  margin-bottom: 40px !important;
}

.margin-bottom-large, .margin-bottom-big {
  margin-bottom: 20px !important;
}

.margin-bottom-med {
  margin-bottom: 16px !important;
}

.margin-bottom-small {
  margin-bottom: 8px !important;
}

.margin-top-xl {
  margin-top: 40px !important;
}

.margin-top-large, .margin-top-big {
  margin-top: 20px !important;
}

.margin-top-med {
  margin-top: 16px !important;
}

.margin-top-small {
  margin-top: 8px !important;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.padding-bottom-xl {
  padding-bottom: 40px !important;
}

.padding-bottom-large, .padding-bottom-big {
  padding-bottom: 20px !important;
}

.padding-bottom-med {
  padding-bottom: 16px !important;
}

.padding-bottom-small {
  padding-bottom: 8px !important;
}

.padding-top-xl {
  padding-top: 40px !important;
}

.padding-top-large, .padding-top-big {
  padding-top: 20px !important;
}

.padding-top-med {
  padding-top: 16px !important;
}

.padding-top-small {
  padding-top: 8px !important;
}

.no-border {
  border: none !important;
}

.no-border-top {
  border-top: none !important;
}

.no-border-right {
  border-right: none !important;
}

.no-border-bottom {
  border-bottom: none !important;
}

.no-border-left {
  border-left: none !important;
}

body.light {
  --main-bg: #e3e5e8;
  --primary-bg: #ffffff;
  --secondary-bg: #f2f3f5;
  --tertiary-bg: #ebedef;
}

body.dark {
  --main-col: #b9bbbe;
  --main-bg: #202225;
  --primary-col: #dcddde;
  --primary-bg: #36393f;
  --secondary-col: #8e9297;
  --secondary-bg: #2f3136;
  --tertiary-col: #8e9297;
  --tertiary-bg: #292b2f;
  --hover-col: var(--primary-col);
  --hover-bg: #4f545c29;
  --active-col: #fff;
  --active-bg: #4f545c3d;
  --second-active-bg: #4f545c52;
  --link-col: #00aff4;
  --ping-col: #ed4245;
  --scrollbar-col: var(--main-bg);
  --scrollbar-bg: #2e3338;
  --accent-col: #5865f2;
  --logo-col: #72767d;
  --logo-darker-col: #72767d4d;
  --divider-col: #ffffff0f;
  --banner-bg: #18191c;
}

body {
  color: var(--main-col);
  background: var(--main-bg);
}
body hr.divider {
  border-color: var(--divider-col);
}
body #top-bar .logo {
  color: var(--logo-col);
}
body #top-bar button {
  color: var(--main-col);
}
body #top-bar button:hover {
  color: var(--hover-col);
  background: var(--hover-bg);
}
body #top-bar button:hover.close-app {
  background-color: var(--ping-col);
}
body #top-bar button:active {
  color: var(--active-col);
  background: var(--active-bg);
}
body #top-bar button:active.close-app {
  color: var(--primary-col);
}
body #main-wrapper .sidebar .scroller {
  background: var(--secondary-bg);
}
body #main-wrapper .content .scroller {
  background: var(--primary-bg);
}
body #main-wrapper .content .tools button {
  color: var(--primary-col);
  border-color: var(--logo-col);
}
body #main-wrapper .content .tools button:hover {
  background: var(--logo-darker-col);
}
body #main-wrapper .content .tools .keybind {
  color: var(--logo-col);
}
body nav#settings-list h2.section {
  color: var(--tertiary-col);
}
body nav#settings-list button.item, body nav#settings-list a {
  color: var(--main-col);
}
body nav#settings-list button.item:hover, body nav#settings-list a:hover {
  color: var(--hover-col);
  background: var(--hover-bg);
}
body nav#settings-list button.item:active, body nav#settings-list a:active {
  color: var(--active-col);
  background: var(--active-bg);
}
body nav#settings-list button.item.active, body nav#settings-list a.active {
  color: var(--active-col);
  background: var(--second-active-bg);
}
body nav#settings-list #logout-btn {
  color: var(--ping-col);
}
body nav#settings-list #bd-changelog-btn {
  color: var(--main-col);
}
body nav#settings-list #bd-changelog-btn:hover {
  color: var(--primary-col);
}
body nav#settings-list .info {
  color: var(--logo-col);
}
body nav#settings-list .social a {
  color: #adadad;
  background: #0000;
}
body nav#settings-list .social a:hover {
  color: #fff;
}
body nav#settings-list .social a:hover[title=BetterDiscord] {
  color: #adadad;
}
body nav#settings-list .social a:hover[title=BetterDiscord] path[icon-data="betterDiscord.0"] {
  fill: #3e82e5;
}
body main#settings-content h1.title {
  color: var(--active-col);
}
body main#settings-content h5 {
  color: var(--main-col);
}
body main#settings-content .name {
  color: var(--active-col);
}
body main#settings-content .name .tag {
  color: var(--main-col);
}
body main#settings-content .account-info {
  background: var(--main-bg);
}
body main#settings-content .account-info .avatar {
  background: var(--main-bg);
  border-color: var(--main-bg);
}
body main#settings-content .account-info .fields {
  background: var(--secondary-bg);
}
body main#settings-content .account-info .fields .content {
  color: var(--active-col);
}
body main#settings-content .account-info .fields .content .tag {
  color: var(--main-col);
}
body main#settings-content .notice {
  background: var(--main-bg);
  color: var(--primary-col);
}
body main#settings-content section.customization {
  border-color: var(--divider-col);
}
body main#settings-content .textarea-wrapper textarea {
  color: var(--primary-col);
  background: #0000001a;
  border-color: #0000004d;
}
body main#settings-content .textarea-wrapper textarea:hover {
  border-color: #040405;
}
body main#settings-content .textarea-wrapper textarea:focus {
  border-color: var(--link-col);
}
body main#settings-content .textarea-wrapper span {
  color: var(--logo-col);
}
body main#settings-content button {
  --col: var(--accent-col);
  color: var(--active-col);
}
body main#settings-content button:hover {
  --col: #4752c4;
}
body main#settings-content button.danger {
  --col: var(--ping-col);
}
body main#settings-content button.danger:hover {
  --col: #c03537;
}
body main#settings-content button.edit {
  --col: #4f545c;
}
body main#settings-content button.edit:hover {
  --cal: #5d6269;
}
body main#settings-content button.options {
  color: var(--main-col);
}
body main#settings-content button.reveal {
  color: var(--link-col);
}
body main#settings-content button.options, body main#settings-content button.reveal {
  background: #0000;
}
body main#settings-content button.paywall {
  --col: #3ba55d;
}
body main#settings-content button.filled {
  background: var(--col);
}
body main#settings-content button.outline, body main#settings-content button.outlined {
  color: var(--col);
  border: 1px solid var(--col);
  background: #0000;
}
body main#settings-content .color-picker button {
  color: var(--active-col);
  border-color: var(--divider-col);
}
body main#settings-content .color-picker .name {
  color: var(--main-col);
}
body .profile-banner {
  background: var(--banner-bg);
  box-shadow: 0 8px 16px #0000003d;
}
body .profile-banner .avatar {
  background: var(--banner-bg);
  border-color: var(--banner-bg);
}
body .profile-banner .avatar:hover {
  box-shadow: inset 0 0 120px #000000bf;
}
body .profile-banner .avatar .hint {
  color: #fff;
}
body .profile-banner .avatar .img-icon {
  background: var(--primary-col);
  box-shadow: 0 2px 4px 0 #00000033;
}
body .profile-banner .activity {
  color: var(--primary-col);
}
body .radio-group.filled > .radio, body .radio-group.filled > li, body .radio-group.filled > .item, body .radio-group.filled > .radio, body .radio-group.filled > li, body .radio-group.filled > .item {
  color: var(--main-col);
  background: var(--secondary-bg);
}
body .radio-group.filled > .radio:hover, body .radio-group.filled > li:hover, body .radio-group.filled > .item:hover, body .radio-group.filled > .radio:hover, body .radio-group.filled > li:hover, body .radio-group.filled > .item:hover {
  color: var(--primary-col);
  background: var(--hover-bg);
}
body .radio-group.filled > .radio:active, body .radio-group.filled > li:active, body .radio-group.filled > .item:active, body .radio-group.filled > .radio:active, body .radio-group.filled > li:active, body .radio-group.filled > .item:active {
  color: var(--active-col);
  background: var(--active-bg);
}
body .radio-group.filled > .radio[aria-checked=true], body .radio-group.filled > .radio.active, body .radio-group.filled > li[aria-checked=true], body .radio-group.filled > li.active, body .radio-group.filled > .item[aria-checked=true], body .radio-group.filled > .item.active, body .radio-group.filled > .radio[aria-checked=true], body .radio-group.filled > .radio.active, body .radio-group.filled > li[aria-checked=true], body .radio-group.filled > li.active, body .radio-group.filled > .item[aria-checked=true], body .radio-group.filled > .item.active {
  color: var(--active-col);
  background: var(--main-bg);
}
body .radio.filled {
  color: var(--main-col);
  background: var(--secondary-bg);
}
body .radio:hover {
  color: var(--primary-col);
  background: var(--hover-bg);
}
body .radio:active {
  color: var(--active-col);
  background: var(--active-bg);
}
body .radio[aria-checked=true], body .radio.active {
  color: var(--active-col);
  background: var(--main-bg);
}
body .radio[aria-checked=true] .rad-circle::before, body .radio[aria-checked=true] .circle::before, body .radio[aria-checked=true] .radio-circle::before, body .radio.active .rad-circle::before, body .radio.active .circle::before, body .radio.active .radio-circle::before {
  background: #949cf7;
}
body .switch-wrapper label, body .toggle-wrapper label, body .toggler-wrapper label {
  color: var(--active-col);
}
body input.switch, body input.toggle, body input.toggler,
body .switch, body .toggle, body .toggler {
  color: var(--logo-col);
  background: var(--logo-col);
}
body input.switch::after, body input.switch .circle, body input.toggle::after, body input.toggle .circle, body input.toggler::after, body input.toggler .circle,
body .switch::after,
body .switch .circle, body .toggle::after, body .toggle .circle, body .toggler::after, body .toggler .circle {
  background: #fff;
}
body input.switch:checked, body input.switch.active, body input.switch.checked, body input.toggle:checked, body input.toggle.active, body input.toggle.checked, body input.toggler:checked, body input.toggler.active, body input.toggler.checked,
body .switch:checked,
body .switch.active,
body .switch.checked, body .toggle:checked, body .toggle.active, body .toggle.checked, body .toggler:checked, body .toggler.active, body .toggler.checked {
  color: #3ba55d;
  background: #3ba55d;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  min-height: 40px;
  background-color: var(--scrollbar-col);
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 4px solid #0000;
  border-radius: 8px;
}

::-webkit-scrollbar-corner {
  background-color: #0000;
}

.scroller {
  scrollbar-color: var(--scrollbar-col) var(--scrollbar-bg);
}

.no-scroller {
  scrollbar-width: none;
}
.no-scroller::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.thin-scroller {
  scrollbar-color: var(--scrollbar-col) #0000;
  scrollbar-width: thin;
}
.thin-scroller::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.thin-scroller::-webkit-scrollbar-track {
  background-color: #0000;
  border: 2px solid #0000;
}
.thin-scroller::-webkit-scrollbar-thumb {
  min-height: 40px;
  background-color: var(--scrollbar-col);
  background-clip: padding-box;
  border: 2px solid #0000;
  border-radius: 4px;
}
.thin-scroller::-webkit-scrollbar-corner {
  background-color: #0000;
}

.fade-scroller {
  scrollbar-color: #0000 #0000;
}
.fade-scroller::-webkit-scrollbar-thumb {
  background-color: #0000;
}
.fade-scroller:hover {
  scrollbar-color: var(--scrollbar-col) #0000;
}
.fade-scroller:hover::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-col);
}

button[data-tooltip]::after, a[data-tooltip]::after {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: inherit;
}

button {
  background: #0000;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  box-sizing: border-box;
  outline: 0;
}

h1, h2, h3, p {
  margin: 0;
}

hr, hr.divider {
  width: auto;
  height: 1px;
  margin: 2px 3px;
  border: none;
  border-top-width: thin;
  border-top-style: solid;
}

#top-bar {
  width: 100%;
  height: 22px;
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: flex-start;
  pointer-events: none;
}
#top-bar .logo {
  padding: 4px 9px 3px;
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
}
#top-bar button {
  width: 28px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  pointer-events: auto;
}
#top-bar * {
  max-height: 22px;
}

#main-wrapper {
  width: 100vw;
  height: calc(100vh - 22px);
  display: flex;
  overflow: hidden;
}
#main-wrapper * {
  box-sizing: border-box;
}
#main-wrapper > .sidebar {
  flex: 1 0 218px;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}
#main-wrapper > .sidebar .scroller {
  flex: 1 0 auto;
  min-height: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  overflow: hidden scroll;
  padding: 0;
  scrollbar-width: thin;
}
#main-wrapper > .content {
  flex: 1 1 800px;
  position: relative;
}
#main-wrapper > .content .scroller {
  height: 100%;
  min-height: 0;
  flex: 1;
  position: static;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden scroll;
}
#main-wrapper > .content .tools {
  width: 60px;
  flex: 0 0 36px;
  position: relative;
  padding: 60px 0 0 0;
  margin: 0 21px 0 0;
}
#main-wrapper > .content .tools .container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-wrapper > .content .tools button {
  width: 36px;
  height: 36px;
  aspect-ratio: 1;
  flex: 0 0 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-radius: 50%;
}
#main-wrapper > .content .tools button:active {
  transform: translateY(1px);
}
#main-wrapper > .content .tools .keybind {
  margin: 8px 0 0 0;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  text-align: center;
}

nav#settings-list {
  width: 218px;
  display: flex;
  flex-direction: column;
  padding: 60px 6px 60px 20px;
  margin: 0;
}
nav#settings-list hr.divider {
  margin: 8px 10px;
}
nav#settings-list .bd-heading {
  display: flex;
  justify-content: space-between;
}
nav#settings-list #bd-changelog-btn {
  height: 16px;
}
nav#settings-list h2.section {
  padding: 6px 10px;
  font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  user-select: none;
}
nav#settings-list h2.section:first-child {
  padding: 0 10px 6px;
}
nav#settings-list button.item {
  flex-shrink: 0;
  position: relative;
  padding: 6px 10px;
  margin: 0 0 2px 0;
  border-radius: 4px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}
nav#settings-list button.item.has-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav#settings-list .social {
  padding: 8px 10px;
}
nav#settings-list .social a {
  padding: 0 2px;
  margin: 0 8px 0 0;
  text-decoration: none;
}
nav#settings-list .social a path {
  transition: fill 0.15s ease;
}
nav#settings-list .info {
  padding: 8px 10px;
  text-transform: capitalize;
  user-select: text;
}
nav#settings-list .info span {
  width: 100%;
  display: inline-block;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

main {
  min-width: 460px;
  max-width: 740px;
  min-height: 100%;
  flex: 1 1 auto;
  position: relative;
  padding: 60px 40px 80px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
main #change-pass-btn {
  margin-bottom: 28px;
}
main hr.divider {
  margin: 40px 0 0 0;
}
main section:first-of-type {
  margin-top: 0;
}
main div.horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
}
main div.horizontal .wrapper {
  margin: auto 0 auto 10px;
}
main div.horizontal button:not(:last-of-type) {
  margin-right: 0px;
}
main div.horizontal button:not(:first-child) {
  margin-left: 4px;
}
main div.columns {
  position: relative;
  display: flex;
}
main div.columns > .column:not(:first-child) {
  flex: 0 0 auto;
  padding: 0 0 24px 0;
  margin: 0 0 24px 20px;
}
main div.columns > .column:first-child {
  width: 340px;
}
main h1.title {
  margin: 0 0 20px 0;
  font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  cursor: default;
}
main h5 {
  margin: 0 0 8px 0;
  font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
  cursor: default;
}
main h5 svg {
  margin: 0 4px 0 2px;
  vertical-align: sub;
}
main p {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  cursor: default;
}
main button {
  width: auto;
  min-width: 60px;
  height: 32px;
  min-height: 32px;
  position: relative;
  padding: 2px 16px;
  border-radius: 3px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  transition: background-color 0.17s ease, color 0.17s ease;
}
main button:not(:last-of-type) {
  margin-right: 16px;
}
main button.paywall {
  min-width: 96px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
main button.paywall svg {
  margin: 0 4px 0 0;
}
main textarea {
  width: 100%;
  height: auto;
  position: relative;
  padding: 10px;
  border: 1px solid;
  border-radius: 3px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: inherit;
  line-height: inherit;
  outline: 0;
  resize: none;
  transition: border-color 0.2s ease-in-out;
}
main .textarea-wrapper {
  position: relative;
}
main .textarea-wrapper span.maxlength {
  position: absolute;
  top: auto;
  bottom: 12px;
  left: auto;
  right: 14px;
  font-family: Consolas, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  pointer-events: none;
}
main .name {
  margin: 0 0 6px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
main .account-info {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
main .account-info .banner {
  width: 100%;
  height: 100px;
  position: relative;
  background: #f5dbb4;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  transition: background-color 0.1s;
}
main .account-info .user-info {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 0 120px;
}
main .account-info .user-info .info .wrapper {
  display: flex;
}
main .account-info .user-info .badges {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2px 0 -2px;
}
main .account-info .user-info button.options {
  width: 24px;
  min-width: 0;
  height: 24px;
  min-height: 0;
  padding: 0;
  margin: 0 0 0 8px;
}
main .account-info .user-info img.avatar, main .account-info .user-info svg.avatar {
  width: 80px;
  height: 80px;
  aspect-ratio: 1;
  position: absolute;
  top: 76px;
  bottom: auto;
  left: 16px;
  right: auto;
  border: 7px solid;
  border-radius: 50%;
  mask-image: url(#user-status-mask);
  mask-type: luminance;
  -webkit-mask-image: url(#user-status-mask);
  -webkit-mask-type: luminance;
}
main .account-info .fields {
  padding: 16px;
  margin: 8px 16px 16px;
  border-radius: 8px;
}
main .account-info .fields .field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px 0 0 0;
}
main .account-info .fields .field:first-child {
  margin: 0;
}
main .account-info .fields .field .content {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
main .account-info .fields .field .content .username, main .account-info .fields .field .content .tag {
  line-height: inherit;
}
main .account-info .fields .field .data {
  flex: 1 1 auto;
  margin: 0 16px 0 0;
  overflow: hidden;
}
main .account-info .fields .field h5 {
  margin: 0 0 4px 0;
}
main .account-info .fields .field button.edit {
  margin: auto 0 auto;
}
main .account-info .fields .field button.reveal {
  width: auto;
  min-width: 0;
  height: auto;
  min-height: 0;
  display: inline-block;
  padding: 0 4px 2px 4px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
main .account-info .fields .field button.reveal:hover {
  text-decoration: underline;
}
main .notice {
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 0 0 16px 0;
  border-radius: 4px;
}
main .notice > .content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
main .notice > .content, main .notice span, main .notice p {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
main .notice strong {
  font-weight: 600;
}
main .notice span, main .notice p {
  flex: 1;
  margin: 0 16px 0 0;
}
main .notice .icon {
  margin: 0 8px 0 0;
}
main section.customization {
  padding: 0 0 24px 0;
  margin: 0 0 24px 0;
  border-bottom: 1px solid;
}
main section.customization:last-child {
  border-bottom: none;
}

.color-pickers {
  display: flex;
  margin: 16px 0 0 0;
}
.color-pickers .color-picker {
  margin: 0 16px 0 0;
}

.color-picker {
  position: relative;
  text-align: center;
}
.color-picker .name {
  display: block;
  margin: 4px 0 0 0;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.color-picker button {
  width: 69px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border-radius: 4px;
}
.color-picker button.custom {
  position: relative;
  border: 1px solid;
}
.color-picker button .dropper {
  position: absolute;
  top: 4px;
  bottom: auto;
  left: auto;
  right: 4px;
}

.profile-banner {
  width: 300px;
  min-width: 300px;
  min-height: 280px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.profile-banner h5 {
  font-weight: 700;
}
.profile-banner .info {
  padding: 0 16px 16px;
}
.profile-banner hr.divider {
  margin: 0 0 12px 0;
}
.profile-banner .avatar {
  width: 80px;
  height: 80px;
  aspect-ratio: 1;
  z-index: 1;
  position: absolute;
  top: 16px;
  bottom: auto;
  left: 16px;
  right: auto;
  box-sizing: content-box;
  border: 6px solid;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.profile-banner .avatar:hover .hint {
  visibility: visible;
}
.profile-banner .avatar .hint {
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  overflow-wrap: break-word;
  white-space: pre;
  pointer-events: none;
}
.profile-banner .avatar .img-icon {
  width: 28px;
  height: 28px;
  aspect-ratio: 1;
  position: absolute;
  top: 0;
  bottom: auto;
  left: auto;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  pointer-events: none;
}
.profile-banner .about-me .content {
  line-height: 18px;
}
.profile-banner .activity .content {
  display: flex;
  align-items: center;
}
.profile-banner .activity .content div.icon {
  width: 64px;
  height: 64px;
  aspect-ratio: 1;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 16px 0 0;
  border-radius: 8px;
}
.profile-banner .activity .content div.icon img {
  width: 48px;
  height: 48px;
  aspect-ratio: 1;
}
.profile-banner .activity .content .wrapper {
  flex: 1 1 auto;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.profile-banner .activity .content .wrapper .title {
  font-weight: 600;
}
.profile-banner .activity .content .wrapper .time {
  font-family: Consolas, monospace;
}
.profile-banner .activity .content .wrapper * {
  margin: 0;
}
.profile-banner .banner {
  width: 100%;
  height: 60px;
  border-radius: 8px 8px 0 0;
}
.profile-banner .header {
  position: relative;
  display: block;
  padding: 64px 16px 16px;
  overflow: hidden;
}
.profile-banner .header .name {
  display: block;
  margin: 0;
  font-weight: 500;
  word-break: break-word;
  white-space: normal;
  user-select: text;
}
.profile-banner .header .badges {
  max-width: 180px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: absolute;
  top: 16px;
  bottom: auto;
  left: auto;
  right: 16px;
  margin: 0 -2px -2px 0;
}

ul.radio-group {
  padding-left: 0;
  margin: 0;
}

.radio, .radio-group > li, .radio-group > .item {
  display: flex;
  gap: 8px;
  align-items: center;
  border-left: 3px solid var(--accent-col, #0000);
  border-radius: 4px;
  list-style: none;
  cursor: pointer;
}
.radio .circle, .radio .rad-circle, .radio .radio-circle, .radio-group > li .circle, .radio-group > li .rad-circle, .radio-group > li .radio-circle, .radio-group > .item .circle, .radio-group > .item .rad-circle, .radio-group > .item .radio-circle {
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
  position: relative;
  border: 2px solid;
  border-radius: 50%;
}
.radio .circle::before, .radio .rad-circle::before, .radio .radio-circle::before, .radio-group > li .circle::before, .radio-group > li .rad-circle::before, .radio-group > li .radio-circle::before, .radio-group > .item .circle::before, .radio-group > .item .rad-circle::before, .radio-group > .item .radio-circle::before {
  content: "";
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  border-radius: 50%;
}
.radio .content, .radio-group > li .content, .radio-group > .item .content {
  width: 100%;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.radio .content > *, .radio-group > li .content > *, .radio-group > .item .content > * {
  margin-bottom: 4px;
  cursor: inherit;
}
.radio .content > *:last-child, .radio-group > li .content > *:last-child, .radio-group > .item .content > *:last-child {
  margin-bottom: 0;
}
.radio .content .title, .radio-group > li .content .title, .radio-group > .item .content .title {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.radio .content p, .radio-group > li .content p, .radio-group > .item .content p {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.switch-wrapper, .toggle-wrapper, .toggler-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.switch-wrapper label, .toggle-wrapper label, .toggler-wrapper label {
  flex: 1;
  display: block;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
  overflow: hidden;
  cursor: pointer;
}

input.switch, input.toggle, input.toggler,
.switch, .toggle, .toggler {
  width: 40px;
  height: 24px;
  flex: 0 0 auto;
  position: relative;
  margin: 0;
  border-radius: 14px;
  cursor: pointer;
  appearance: none;
  transition: background 0.25s;
}
input.switch svg, input.switch ~ .switch-icon, input.switch ~ .toggle-icon, input.switch ~ .toggler-icon, input.toggle svg, input.toggle ~ .switch-icon, input.toggle ~ .toggle-icon, input.toggle ~ .toggler-icon, input.toggler svg, input.toggler ~ .switch-icon, input.toggler ~ .toggle-icon, input.toggler ~ .toggler-icon,
.switch svg,
.switch ~ .switch-icon,
.switch ~ .toggle-icon,
.switch ~ .toggler-icon, .toggle svg, .toggle ~ .switch-icon, .toggle ~ .toggle-icon, .toggle ~ .toggler-icon, .toggler svg, .toggler ~ .switch-icon, .toggler ~ .toggle-icon, .toggler ~ .toggler-icon {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: auto;
  z-index: 2;
  transition: color 0.25s;
}
input.switch svg path, input.switch ~ .switch-icon path, input.switch ~ .toggle-icon path, input.switch ~ .toggler-icon path, input.toggle svg path, input.toggle ~ .switch-icon path, input.toggle ~ .toggle-icon path, input.toggle ~ .toggler-icon path, input.toggler svg path, input.toggler ~ .switch-icon path, input.toggler ~ .toggle-icon path, input.toggler ~ .toggler-icon path,
.switch svg path,
.switch ~ .switch-icon path,
.switch ~ .toggle-icon path,
.switch ~ .toggler-icon path, .toggle svg path, .toggle ~ .switch-icon path, .toggle ~ .toggle-icon path, .toggle ~ .toggler-icon path, .toggler svg path, .toggler ~ .switch-icon path, .toggler ~ .toggle-icon path, .toggler ~ .toggler-icon path {
  transition: d 0.25s;
  d: path("M5.13231 6.72963L6.7233 5.13864L14.855 13.2704L13.264 14.8614L5.13231 6.72963Z M13.2704 5.13864L14.8614 6.72963L6.72963 14.8614L5.13864 13.2704L13.2704 5.13864Z");
}
input.switch::after, input.switch .circle, input.toggle::after, input.toggle .circle, input.toggler::after, input.toggler .circle,
.switch::after,
.switch .circle, .toggle::after, .toggle .circle, .toggler::after, .toggler .circle {
  content: "";
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: auto;
  display: block;
  aspect-ratio: 1;
  border-radius: inherit;
  transition: left 0.25s, right 0.25s;
}
input.switch:checked svg, input.switch.active svg, input.switch.checked svg, input.toggle:checked svg, input.toggle.active svg, input.toggle.checked svg, input.toggler:checked svg, input.toggler.active svg, input.toggler.checked svg,
.switch:checked svg,
.switch.active svg,
.switch.checked svg, .toggle:checked svg, .toggle.active svg, .toggle.checked svg, .toggler:checked svg, .toggler.active svg, .toggler.checked svg {
  left: auto;
  right: 2px;
}
input.switch:checked svg path, input.switch.active svg path, input.switch.checked svg path, input.toggle:checked svg path, input.toggle.active svg path, input.toggle.checked svg path, input.toggler:checked svg path, input.toggler.active svg path, input.toggler.checked svg path,
.switch:checked svg path,
.switch.active svg path,
.switch.checked svg path, .toggle:checked svg path, .toggle.active svg path, .toggle.checked svg path, .toggler:checked svg path, .toggler.active svg path, .toggler.checked svg path {
  d: path("M7.89561 14.8538L6.30462 13.2629L14.3099 5.25755L15.9009 6.84854L7.89561 14.8538Z M4.08643 11.0903L5.67742 9.49929L9.4485 13.2704L7.85751 14.8614L4.08643 11.0903Z");
}
input.switch:checked::after, input.switch:checked .circle, input.switch.active::after, input.switch.active .circle, input.switch.checked::after, input.switch.checked .circle, input.toggle:checked::after, input.toggle:checked .circle, input.toggle.active::after, input.toggle.active .circle, input.toggle.checked::after, input.toggle.checked .circle, input.toggler:checked::after, input.toggler:checked .circle, input.toggler.active::after, input.toggler.active .circle, input.toggler.checked::after, input.toggler.checked .circle,
.switch:checked::after,
.switch:checked .circle,
.switch.active::after,
.switch.active .circle,
.switch.checked::after,
.switch.checked .circle, .toggle:checked::after, .toggle:checked .circle, .toggle.active::after, .toggle.active .circle, .toggle.checked::after, .toggle.checked .circle, .toggler:checked::after, .toggler:checked .circle, .toggler.active::after, .toggler.active .circle, .toggler.checked::after, .toggler.checked .circle {
  left: auto;
  right: 3px;
}

/*# sourceMappingURL=settings.css.map */
