@font-face {
  font-family: "Uni Sans";
  src: url("../../res/fonts/Uni Sans Regular.ttf") format("truetype");
}

/* line 20, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
body {
  margin: 0;
  overflow: hidden;
}

/* line 24, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
.hidden {
  display: none;
}

/* line 28, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
body.home #back-btn {
  display: none;
}

/* line 39, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
body.light button[data-tooltip]::before, body.light a[data-tooltip]::before {
  box-shadow: 0 8px 16px #00000029;
  background-color: #fff;
  color: #000;
}

/* line 44, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
body.light button[tooltip-direction="left"]::after, body.light a[tooltip-direction="left"]::after {
  border-left-color: #fff;
}

/* line 46, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
body.light button[tooltip-direction="right"]::after, body.light a[tooltip-direction="right"]::after {
  border-right-color: #fff;
}

/* line 48, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
body.light button[tooltip-direction="top"]::after, body.light a[tooltip-direction="top"]::after {
  border-top-color: #fff;
}

/* line 50, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
body.light button[tooltip-direction="bottom"]::after, body.light button:not([tooltip-direction])::after, body.light a[tooltip-direction="bottom"]::after, body.light a:not([tooltip-direction])::after {
  border-bottom-color: #fff;
}

/* line 54, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
body.light #menu-side-bar {
  background-color: #f2f3f5;
}

/* line 57, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
body.dark {
  color: #eee;
  background: #292b30;
}

/* line 65, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
body.dark button[data-tooltip]::before, body.dark a[data-tooltip]::before {
  box-shadow: 0 8px 16px #0000003d;
  background-color: #18191c;
  color: #dcddde;
}

/* line 70, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
body.dark button[tooltip-direction="left"]::after, body.dark a[tooltip-direction="left"]::after {
  border-left-color: #18191c;
}

/* line 72, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
body.dark button[tooltip-direction="right"]::after, body.dark a[tooltip-direction="right"]::after {
  border-right-color: #18191c;
}

/* line 74, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
body.dark button[tooltip-direction="top"]::after, body.dark a[tooltip-direction="top"]::after {
  border-top-color: #18191c;
}

/* line 76, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
body.dark button[tooltip-direction="bottom"]::after, body.dark button:not([tooltip-direction])::after, body.dark a[tooltip-direction="bottom"]::after, body.dark a:not([tooltip-direction])::after {
  border-bottom-color: #18191c;
}

/* line 80, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
body.dark #menu-side-bar {
  background-color: #2f3136;
  color: #dcddde;
}

/* line 86, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
nav#navbar {
  padding: 0.5rem;
  background: #5769e9;
  color: #000;
  stroke: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 96, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
nav#navbar #back-btn {
  margin: 0 0.5rem 0 0;
}

/* line 99, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
nav#navbar #back-btn > img, nav#navbar #back-btn > svg {
  width: 1.75rem;
  height: 1.75rem;
}

/* line 104, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
nav#navbar div.title {
  display: block;
  overflow-x: hidden;
  height: 100%;
  max-width: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 114, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
nav#navbar div.title > h1 {
  white-space: nowrap;
  font-family: "Uni Sans", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  cursor: default;
}

/* line 125, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
nav#navbar .header {
  height: 2.125rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* line 131, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
nav#navbar .info {
  height: 100%;
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* line 138, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
nav#navbar button, nav#navbar a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2.125rem;
  height: 2.125rem;
  text-decoration: none;
  text-decoration-color: #00000000;
  color: inherit;
  background: transparent;
  border: none;
  border-radius: 0.25rem;
  padding: 0;
  margin: 0 0 0 0.5rem;
  cursor: pointer;
  transition: background-color, color, stroke 0.25s, 0.25s, 0.25s;
}

/* line 158, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
nav#navbar button > img, nav#navbar button > svg, nav#navbar a > img, nav#navbar a > svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  stroke: transparent;
  color: inherit;
}

/* line 165, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
nav#navbar button:hover, nav#navbar a:hover {
  background-color: #4858d3;
}

/* line 168, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
nav#navbar button:active, nav#navbar button.active, nav#navbar a:active, nav#navbar a.active {
  background-color: #3553a5a9;
  color: #fff;
}

/* line 175, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
button[data-tooltip], a[data-tooltip] {
  position: relative;
}

/* line 178, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
button[data-tooltip]::before, button[data-tooltip]::after, a[data-tooltip]::before, a[data-tooltip]::after {
  pointer-events: none;
  position: absolute;
  z-index: 4;
  --scale: 0;
  transform: translateX(var(--translate-x, 0)) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: transform 0.05s;
}

/* line 187, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
button[data-tooltip]::before, a[data-tooltip]::before {
  content: attr(data-tooltip);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
}

/* line 197, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
button[data-tooltip]::after, a[data-tooltip]::after {
  content: '';
  background: transparent;
  border: calc(0.625rem / 2) solid transparent;
}

/* line 202, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
button[data-tooltip]:hover::before, button[data-tooltip]:hover::after, a[data-tooltip]:hover::before, a[data-tooltip]:hover::after {
  --scale: 1;
}

/* line 207, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
button[tooltip-direction="left"]::before, button[tooltip-direction="left"]::after, a[tooltip-direction="left"]::before, a[tooltip-direction="left"]::after {
  top: 50%;
  right: 100%;
}

/* line 210, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
button[tooltip-direction="left"]::before, a[tooltip-direction="left"]::before {
  --translate-x: calc( -0.125rem - 0.625rem / 2);
  --translate-y: -50%;
  transform-origin: right center;
}

/* line 214, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
button[tooltip-direction="left"]::after, a[tooltip-direction="left"]::after {
  --translate-x: calc( -0.125rem + 0.625rem / 2);
  --translate-y: -50%;
  transform-origin: left center;
}

/* line 220, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
button[tooltip-direction="right"]::before, button[tooltip-direction="right"]::after, a[tooltip-direction="right"]::before, a[tooltip-direction="right"]::after {
  top: 50%;
  left: 100%;
}

/* line 223, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
button[tooltip-direction="right"]::before, a[tooltip-direction="right"]::before {
  --translate-x: calc(0.125rem + 0.625rem / 2);
  --translate-y: -50%;
  transform-origin: left center;
}

/* line 227, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
button[tooltip-direction="right"]::after, a[tooltip-direction="right"]::after {
  --translate-x: calc(0.125rem - 0.625rem / 2);
  --translate-y: -50%;
  transform-origin: right center;
}

/* line 233, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
button[tooltip-direction="top"]::before, button[tooltip-direction="top"]::after, a[tooltip-direction="top"]::before, a[tooltip-direction="top"]::after {
  bottom: 100%;
  left: 50%;
}

/* line 236, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
button[tooltip-direction="top"]::before, a[tooltip-direction="top"]::before {
  --translate-x: -50%;
  --translate-y: calc( -0.125rem - 0.625rem / 2);
  transform-origin: bottom center;
}

/* line 240, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
button[tooltip-direction="top"]::after, a[tooltip-direction="top"]::after {
  --translate-x: -50%;
  --translate-y: calc( -0.125rem + 0.625rem / 2);
  transform-origin: top center;
}

/* line 247, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
button[tooltip-direction="bottom"]::before, button[tooltip-direction="bottom"]::after, button:not([tooltip-direction])::before, button:not([tooltip-direction])::after, a[tooltip-direction="bottom"]::before, a[tooltip-direction="bottom"]::after, a:not([tooltip-direction])::before, a:not([tooltip-direction])::after {
  top: 100%;
  left: 50%;
}

/* line 250, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
button[tooltip-direction="bottom"]::before, button:not([tooltip-direction])::before, a[tooltip-direction="bottom"]::before, a:not([tooltip-direction])::before {
  --translate-x: -50%;
  --translate-y: calc(0.125rem + 0.625rem / 2);
  transform-origin: top center;
}

/* line 254, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
button[tooltip-direction="bottom"]::after, button:not([tooltip-direction])::after, a[tooltip-direction="bottom"]::after, a:not([tooltip-direction])::after {
  --translate-x: -50%;
  --translate-y: calc(0.125rem - 0.625rem / 2);
  transform-origin: bottom center;
}

/* line 261, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
#menu-side-bar {
  position: absolute;
  top: 3.125rem;
  bottom: auto;
  left: auto;
  right: 0;
  transition: right 0.5s, box-shadow 0.7s;
  padding: 0.5rem 0.625rem;
  cursor: auto;
  border: 2px solid #686a6c;
  border-right: none;
  box-shadow: #00000060 0px 30px 60px 40px;
  width: 25rem;
  height: calc(100vh - 0.5rem * 2 - 2.125rem - 0.5rem * 2 - 4px);
  z-index: 3;
}

/* line 278, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
#menu-side-bar hr {
  border: 1px solid #686a6c;
  background: #686a6c;
}

/* line 282, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
#menu-side-bar:not(.active) {
  right: calc(-26.25rem - 2px);
  box-shadow: #00000000 0px 30px;
}

/* line 286, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
#page-filter {
  content: '';
  background-color: transparent;
  backdrop-filter: blur(0px);
  transition: background-color 0.5s, backdrop-filter 0.5s;
  position: absolute;
  top: 3.125rem;
  bottom: -2px;
  left: calc(-100vw - 2px);
  right: 0;
  z-index: -1;
}

/* line 300, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
#page-filter.active {
  background-color: #0000006b;
  backdrop-filter: blur(2px);
  z-index: 2;
}

/* line 307, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
input.switch[type="checkbox"], input.toggle[type="checkbox"], input.toggler[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 2.5rem;
  height: 1.5rem;
  background: #72767d;
  transition: background 0.25s;
  border-radius: 100px;
}

/* line 318, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
input.switch[type="checkbox"][checked], input.toggle[type="checkbox"][checked], input.toggler[type="checkbox"][checked] {
  background: #3ba55d;
}

/* line 321, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
input.switch[type="checkbox"][checked]::after, input.toggle[type="checkbox"][checked]::after, input.toggler[type="checkbox"][checked]::after {
  left: calc(1rem + 3px);
}

/* line 327, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
input.switch[type="checkbox"]::after, input.toggle[type="checkbox"]::after, input.toggler[type="checkbox"]::after {
  content: '';
  display: block;
  aspect-ratio: 1;
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  transition: left 0.25s;
  background: white;
  border-radius: inherit;
}

/* line 342, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
span.switch, span.toggle, span.toggler {
  display: inline-flex;
  align-items: center;
  color: #72767d;
}

/* line 347, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
span.switch > input, span.toggle > input, span.toggler > input {
  margin: 0 0.25rem;
}

/* line 351, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
section ul > li {
  margin-bottom: 0.5rem;
}

/* line 355, ../../source/repos/Discord Theme Maker/style/sass/style.sass */
#main-content {
  overflow-y: auto;
  max-height: calc(100vh - 2.125rem - 0.5rem * 2);
}

/*# sourceMappingURL=style.css.map */